# Configuración del servidor
SECRET_KEY=BokeCABJ
PORT=9000
NODE_ENV=DEVELOPMENT

# Configuración de la base de datos
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=spotify
DB_HOST=localhost
DB_PORT=3306

